<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_training_root" name="Training" sequence="10" web_icon="hino_training,static/description/icon.png"/>

    <menuitem id="menu_training_brochure"
        name="Training Brochure"
        parent="menu_training_root"
        sequence="1"
        action="action_hmv_training_brochure" />


    <menuitem id="menu_training_plan"
        name="Training Plan"
        parent="menu_training_root"
        sequence="2"
        action="action_employee_list" />

    <menuitem id="menu_training_need"
        name="Training Need"
        parent="menu_training_root"
        sequence="3"
        action="action_training_need_view" />

    <menuitem id="menu_training_courses"
        name="Training Courses"
        parent="menu_training_root"
        sequence="4"
        action="action_employee_list" />

    <menuitem id="menu_training_application"
        name="Application for Attending Training Courses"
        parent="menu_training_root"
        sequence="5"
        action="action_employee_list" />


</odoo>