<?xml version="1.0" encoding="UTF-8"?>

<odoo>
  <data>
    <!-- explicit list view definition -->
    <menuitem name="Traning Plan" id="hino_training.training_Plan" parent="hino_training.menu_root"/>

      <menuitem id="menu_training_plan" name="Training Plans"
        parent="hino_training.training_Plan"
        action="action_training_plan" sequence="1"/>
      

  </data>
</odoo>
